---
layout: page
title: Teaching
---


<p>Below are the courses I have taught, with materials organized by course:</p>

<ul class="teaching-section">
  {% assign courses = site.static_files | where_exp: "file", "file.path contains '/files/teaching/'" %}
  {% assign grouped_courses = courses | group_by_exp: "file", "file.path | split: '/' | slice: 3, 1" %}
  {% for course in grouped_courses %}
    {% assign course_name = site.course_names[course.name] | default: course.name | capitalize %}
    <li>
      <h2>{{ course_name }}</h2>
      <ul>
        {% for file in course.items %}
          <li>
            <a href="{{ file.path | relative_url }}">📄 {{ file.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
